* {
  margin: 0;
}

body {
  font-family: sans-serif;
  color: white;
  font-family: 'Abel', sans-serif;
  height: 100%;
  width: 100%;
}

.background {
  background-color: #CF000F;
  min-height: 100vh;
  height: auto !important;
  height: 100%;
  width: 100%;
}

.description{
  padding: 10px 20px 0 20px;
}

.description p span {
  color: black;
}

.bold {
	font-weight: bold;
}
